@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;

}

.form{
    font-family: 'Raleway',sans-serif;

}
.form textarea{
    font-size: 15px ;
}

.title{
    font-family: 'Raleway',sans-serif;
    font-size: 30px;
}